/* TextEditor.module.css (assuming you're using CSS modules) */

.editor-container {
  max-height: 300px; /* Adjust this value as needed */
  overflow: auto;
  border: 1px solid #ca1616;
}

.quill-editor {
  height: 100%; /* Occupy the entire height of the container */
}
