.fileimage{
    /* background-image: url("../../../assets/images/filedropimage/filedropIcon.jpg"); */
    background-size: cover !important;
    background-position-x: center !important;
    /*width: 135%;
    height: 200%; */
}