.fileimage{
    background-image: url("../../../assets/images/filedropimage/filedropIcon.jpg");
    background-size: cover;
    background-position-x: center;
    /*width: 135%;
    height: 200%; */
}