.fileimage{
    background-image: url("../../../assets/images/filedropimage/filedropIcon.jpg");
    background-size: cover;
    /* background-position-y: center;
    width: 135%;
    height: 200%; */
}