.listitem {
  /* background-color: aqua; */
}
/* .listbar scrollbar {
        width: 50px;
        background-color: #00ABB1!important;
      } */
.listbutton {
  /* background-color: aquamarine!important; */
  /* margin: 10%!important; */
  /* width: 20px;
    height: 10px; */
}
.linkText {
  border-radius: 20px;
  background-color: #BED1EF;
  display: flex;
  justify-content: center;
  width: 200px;
  border: none;
  padding: 10px;
}
.socialIcon {
  display: flex;
  align-items: center;
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%),
    0 1px 18px 0 rgb(0 0 0 / 12%);
  width: 3.5em;
  margin: 10px;
  min-height: 3.5em;
  border-radius: 50%;
  justify-content: center;
}
#icon1 {
  background-color: #4267B2;
}
#icon2 {
  background-color: #FF961C;
}
#icon3 {
  background-color: #006FA6;
}
#icon4 {
  background-color: #BD091D;
}
#icon5 {
  background-color: #00ACEE;
}
#icon6 {
  background-color: #25D366;
}
.icon {
  width: 1.5em;
  height: 1.5em;
  color: #fff; /* Set the icon color */
}
.innerdiv {
  width: 0vh;
  height: 4vh;
  /* background-color: aqua; */
  /* position: absolute; */
}
.footer {
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  /* width: 100%; */
  width: 210vh;
  height: 40px;
  background: #00ABB1;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
  line-height: 50px;
}
.listitem:hover {
  background-color: #0e8a741a !important ;
  color: #00ABB1;
  min-height: 80px;
  min-width: 100px;
  border-radius: 15px;
}
.listitem:hover .listtext {
  color: #00ABB1 !important ;
}
.listitem:hover .listicon {
  color: #00ABB1 !important ;
}
.listitem_active {
  background-color: #0e8a741a !important ;
  font-weight: 700;
  min-height: 80px ;
  padding-top: 10px;
  min-width: 100px;
  border-radius: 15px;
}
.listicon,
.listtext {
  color: #677674;
}
.listitem_active_listicon {
  color: #00ABB1;
  font-weight: 800 !important;
}
.listitem_active_listtext {
  color: #00ABB1;
  font-weight: 800 !important;
}
.MuiDrawer-paper::-webkit-scrollbar {
  width: 1px;
  display: block;
}
.MuiDrawer-paper::-webkit-scrollbar-thumb {
  background: #807E7E;
}
.MuiDrawer-paper::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.fontstyle {
  font: 400 14px/20px Roboto, Helvetica Neue, sans-serif;
}
::-webkit-scrollbar {
  width: 3px; /* width of the entire scrollbar */
}
::-webkit-scrollbar-thumb {
  background-color: lightgray; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}